$c4c5: #4c519f;
$c3b5: #3b5094;
$c754: #754189;
$cf70: #f7053f;
$cwhite: #ffffff;
$cfcf: #fcfcfc;
$cf7f: #f7f7f7;
$ce8e: #e8e8ea;
$cd1d: #D1D1D1;
$ca1a: #A1A1A1;
$c888: #88888a;
$c757: #757575;
$c606: #606060;
$c171: #171717;
$c333: #333;
$cnone: transparent;

$font-title: 'Raleway';
$font-text: 'Nunito';
$font_bebas: 'Bebas Neue';

$tran-7s: all 0.7s;
$tran-6s: all 0.6s;
$tran-6s: all 0.6s;
$tran-5s: all 0.5s;
$tran-4s: all 0.4s;
$tran-3s: all 0.3s;
$tran-2s: all 0.2s;
$tran-1s: all 0.1s;

$fsize-12: 1.2rem;
$fsize-14: 1.4rem;
$fsize-16: 1.6rem;
$fsize-18: 1.8rem;
$fsize-20: 2rem;

$header-font: 4.8rem;
$header-desc: 2rem;

$sub-title: 2.8rem;
$sub-desc: 2rem;

$section-title: 2.8rem;
$section-desc: 1.6rem;

$btn-radius: 6px;
$border-radius: 12px;

